<h1> Your Text Analysis </h1>

<h2>Number of Words: <%= @num_of_words %></h2>

<h2>Vowels: <%= @vowels %></h2>

<h2>Consonants: <%= @consonants %></h2>

<h2>Most Common Letter: <%= @most_common_letter[:most_used_letter].upcase %>, used <%= @most_common_letter[:letter_count] %> times</h2>
